@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins:wght@400;500;600&display=swap");

/* ==================== VARIABLE ==================== */
:root {
   --header: 3rem;
   --font-title: "Bungee Inline";
   --font-body: "Poppins", sans-serif;
   --color-orange: #ef7f2b;
   --color-white: #f9f9f9;
   --color-lightgrey: #bbb;
   --color-grey: #445656;
   --font-big: 2.5rem;
   --font-normal: 0.938rem;
   --font-small: 0.813rem;
   --font-smallest: 0.75rem;
}

@media screen and (min-width: 968px) {
   :root {
      --font-big: 4rem;
      --font-normal: 1rem;
      --font-small: 0.875rem;
      --font-smallest: 0.813rem;
   }
}

/* ==================== BASE ==================== */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: var(--header) 0 0 0;
   font-family: var(--font-body);
   font-size: var(--font-normal);
   color: var(--color-grey);
   background-color: #eee;
}

h1,
h2,
h3 {
   font-family: var(--font-title);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--color-white);
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}

/* ==================== CSS CLASS ==================== */
.section {
   padding: 4.5rem 0 2.5rem;
}

.container {
   max-width: 1024px;
   margin-right: 1rem;
   margin-left: 1rem;
}

.grid {
   display: grid;
   gap: 1.5rem;
}

/* ==================== MODAL ==================== */
.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 350px;
   border-radius: 10px;
   background-color: #fff;
   z-index: 9999;
   box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.7);
   padding-top: 2rem;
   padding-bottom: 2rem;
   display: none;
}

.modal.exist {
   display: block;
}

.modal .close {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 2rem;
   cursor: pointer;
}

.modal-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.modal-title {
   font-family: var(--font-title);
   font-size: 30px;
}

.modal-form label,
.modal-form button {
   display: block;
}

.modal-form label {
   font-size: var(--font-small);
}

.modal-form input {
   width: 80%;
   margin-bottom: 1rem;
   outline: none;
   padding: 0.15rem 0.2rem;
   font-family: var(--font-body);
   color: var(--color-grey);
}

.modal-form button {
   outline: none;
   background-color: var(--color-orange);
   padding: 0.25rem 0.5rem;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   color: var(--color-white);
}

/* ==================== HEADER ==================== */
.header {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   height: var(--header);
   backdrop-filter: blur(10px);
   z-index: 999;
   transition: all 0.3s ease;
}

.header.solid {
   background-color: var(--color-grey);
}

.nav {
   height: var(--header);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-toggle {
   font-size: 1.2rem;
   color: var(--color-white);
   cursor: pointer;
}

.nav-logo {
   color: var(--color-orange);
   font-family: var(--font-title);
   font-size: var(--font-normal);
}

@media screen and (max-width: 767px) {
   .nav-menu {
      position: fixed;
      top: var(--header);
      left: -100%;
      width: 75%;
      height: 100vh;
      background-color: var(--color-grey);
      box-shadow: 1px 0 8px rgba(0, 0, 0, 0.5);
      padding: 3rem;
      transition: 0.4s;
   }

   .nav-menu.active {
      left: 0;
   }
}

.nav-list {
   display: flex;
   flex-direction: column;
   row-gap: 2.5rem;
}

.nav-link:hover {
   color: var(--color-lightgrey);
}

.nav-login {
   color: var(--color-white);
   font-size: var(--font-small);
   padding: 0.15rem 0.5rem;
   border-radius: 5px;
   background-color: var(--color-orange);
   cursor: pointer;
}

/* ==================== MAIN ==================== */

/* ==================== DISCOVER ==================== */
.discover-background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
}

.discover-container {
   position: relative;
   height: calc(100vh - var(--header));
}

.discover-data {
   padding-top: 1rem;
   color: var(--color-white);
   display: flex;
   flex-direction: column;
   row-gap: 0.75rem;
}

.discover-title {
   font-family: var(--font-title);
   font-size: var(--font-big);
   line-height: 1;
}

.discover-title span {
   color: var(--color-orange);
}

.discover-desc p {
   margin-bottom: 1.5rem;
}

.discover-desc .booking label {
   display: block;
   font-size: var(--font-smallest);
}

.discover-desc .booking input {
   width: 200px;
   height: 25px;
   border-radius: 5px;
   border: none;
   outline: none;
   padding: 0.15rem 0.5rem;
   box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
   background-color: var(#eee);
   margin-top: 0.5rem;
   margin-right: 0.5rem;
   font-family: var(--font-body);
   color: var(--color-grey);
}

.discover-desc .booking button {
   color: var(--color-white);
   border: none;
   height: 25px;
   padding: 0.15rem 0.5rem;
   border-radius: 5px;
   background-color: var(--color-orange);
   cursor: pointer;
}

.discover-image {
   width: 260px;
   justify-self: center;
   align-self: end;
}

/* ==================== SERVICES ==================== */
.services-title {
   line-height: 1;
}

.services-title span {
   color: var(--color-orange);
}

.services-data {
   margin-top: 2rem;
   justify-items: center;
}

.services-item {
   width: 300px;
   padding: 0.7rem;
   border-radius: 10px;
   background-color: var(--color-white);
}

.services-item img {
   width: 100%;
   border-radius: 5px;
   margin-bottom: 1rem;
}

.services-item p {
   font-size: var(--font-smallest);
   color: var(--color-lightgrey);
   margin-bottom: 1rem;
}

.label {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.label .price {
   font-weight: 600;
   font-size: 1.5rem;
   color: var(--color-orange);
}

.label .price span {
   font-size: 0.7rem;
   color: var(--color-lightgrey);
}

.label a {
   display: inline-block;
   padding: 0.15rem 0.5rem;
   border-radius: 5px;
   background-color: var(--color-orange);
}

/* ==================== COMMUNITY ==================== */
.community-container img {
   width: 300px;
   justify-self: center;
   border-radius: 10px;
   border: 5px solid var(--color-white);
}

.community-content .title {
   line-height: 1;
   margin-bottom: 1rem;
}

.community-content .title span {
   color: var(--color-orange);
}

.community-content .description {
   margin-bottom: 1rem;
}

.community-content .status {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   justify-content: center;
}

.status-item {
   background-color: var(--color-white);
   padding: 1rem;
   border-radius: 5px;
}

.status-item span {
   display: block;
   width: 80px;
}

.status-item span:first-child {
   color: var(--color-orange);
   font-family: var(--font-title);
   font-size: 1rem;
}

.status-item span:last-child {
   font-size: 0.75rem;
}

/* ==================== MAP ==================== */
.map-container {
   justify-items: center;
}

.map-container h1 {
   line-height: 1;
}

.map-container h1 span {
   color: var(--color-orange);
}

/* ==================== ABOUT US ==================== */
.about-title {
   line-height: 1;
   margin-bottom: 1rem;
}

.about-title span {
   color: var(--color-orange);
}

.about-description {
   margin-bottom: 1rem;
}

.about-review {
   background-color: var(--color-white);
   padding: 1rem;
   border-radius: 7px;
}

.review-item {
   position: relative;
}

.review-item p {
   text-align: justify;
   margin-bottom: 1rem;
}

.review-item .rating {
   margin-bottom: 1rem;
}

.review-item .rating i {
   color: var(--color-orange);
}

.review-item span.name,
.review-item span.work {
   display: block;
}

.review-item span.name {
   font-weight: 600;
}

.review-item span.work {
   color: var(--color-lightgrey);
   font-size: 0.75rem;
}

.review-button {
   display: flex;
   position: absolute;
   bottom: 0;
   right: 0;
}

.review-button i {
   font-size: 1.5rem;
}

.review-button i:last-child {
   transform: rotateY(180deg);
}

.about-container img {
   width: 300px;
   justify-self: center;
   border-radius: 10px;
   border: 5px solid var(--color-white);
}

/* ==================== GET STARTED ==================== */
.started-container {
   justify-items: center;
}
.started-box {
   width: 80%;
   background-color: var(--color-white);
   padding: 2rem;
   text-align: center;
   border-radius: 7px;
}

.started-title {
   line-height: 1;
   margin-bottom: 1rem;
}

.started-title span {
   color: var(--color-orange);
}

.started-description {
   font-size: 0.75rem;
   margin-bottom: 1rem;
}

.started-box a {
   background-color: var(--color-orange);
   padding: 0.35rem 0.75rem;
   border-radius: 5px;
}

/* ==================== FOOTER ==================== */
.footer {
   background-color: var(--color-orange);
}

.footer-container {
   row-gap: 5rem;
   padding: 2rem 0;
}

.footer-content {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

.footer-description p {
   font-size: 0.813rem;
   color: var(--color-white);
}

.footer-item h4 {
   font-size: var(--font-small);
   text-transform: uppercase;
}

.footer-item a {
   display: block;
   font-size: 0.813rem;
}

.footer-mark {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 0.2rem;
   font-size: 0.75rem;
   font-weight: 600;
}

@media screen and (min-width: 768px) {
   /* ==================== BASE ==================== */
   .container {
      margin-left: 3rem;
      margin-right: 3rem;
   }

   /* ==================== HEADER ==================== */
   .nav-toggle {
      display: none;
   }

   .nav-list {
      flex-direction: initial;
      column-gap: 2.5rem;
   }

   /* ==================== DISCOVER ==================== */
   .discover-container {
      grid-template-columns: repeat(2, 1fr);
   }

   .discover-data {
      align-self: center;
      row-gap: 2rem;
   }

   .discover-image {
      justify-self: end;
      width: 340px;
   }

   /* ==================== SERVICES ==================== */
   .services-data {
      place-content: center;
      grid-template-columns: repeat(auto-fit, 300px);
   }

   /* ==================== COMMUNITY ==================== */
   .community-container {
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
   }

   /* ==================== ABOUT US ==================== */
   .about-container {
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
   }

   /* ==================== FOOTER ==================== */
   .footer-content {
      flex-direction: initial;
      column-gap: 3rem;
      align-items: flex-start;
   }

   .footer-description {
      max-width: 50%;
   }

   .footer-item h4 {
      margin-bottom: 0.5rem;
   }

   .footer-mark {
      flex-direction: initial;
   }

   .footer-mark span:first-child {
      min-width: 50%;
   }

   .footer-mark span:nth-child(2) {
      min-width: 25%;
   }
}

@media screen and (min-width: 1024px) {
   /* ==================== BASE ==================== */
   .container {
      margin-left: auto;
      margin-right: auto;
   }
}
